# Shhhare!
/shhhare/.env
/shhhare/target/
/shhhare/static/app/
/shhhare/static/doc/

# Shhhare! (app)
/shhhare_app/.tanstack/
/shhhare_app/node_modules/

# Shhhare! (doc)
/shhhare_doc/node_modules/

# MacOS
.DS_Store

